.app {
    background-image: url("../public/channel-background3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
}