.app {
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 0%, rgba(16,114,191,1) 70%, rgba(11,169,191,1) 89%); */
    background-image: url("../public/fantom-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed !important;
    width: 100%;
    overflow-y: scroll;
}